/* Body-Stile */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #ea1f70; /* Hintergrundfarbe ändern */
  display: grid;

}


 /* p schriftart*/

p {
  font-size: 15px;
  font-weight: normal; /* Um die Schrift nicht fett zu machen */
  font-family: 'Montserrat', sans-serif; /* Anpassung der Schriftart */
}



 /* Button*/

.top {
  --offset: 50px; 
  
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visuelles Styling */
  width:45px;
  aspect-ratio:1;
  background:#4e4a47;
  border-radius:10px;
}
.top:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}

p {
  font-size: 15px;
}


html,
body {
  scroll-behavior: smooth;
}

#about .section-img {
border-radius: 50%; /* Runde Ecken für das Bild */
max-width: 30%; /* Bildgröße anpassen */
display: block; /* Bild als Blockelement rendern */
margin: 0 auto 20px; /* Zentrieren und Abstand unten hinzufügen */
transition: transform 0.3s ease-in-out; /* Übergangseffekt */

}.section img {
  max-width: 30%; /* Bildgröße anpassen */
  display: block; /* Bild als Blockelement rendern */
  margin: 0 auto 20px; /* Zentrieren und Abstand unten hinzufügen */
  transition: transform 0.3s ease-in-out; /* Übergangseffekt */
}



/* Bildstile */


/* Effekt beim Überfahren des Bildes */
.section img:hover {
  transform: scale(1.1); /* Vergrößerung des Bildes */
}

.social-links a {
  display: inline-flex; /* Damit die Anker als Inline-Flex-Elemente angezeigt werden */
  align-items: center; /* Zentriert die Icons vertikal */
  justify-content: center; /* Zentriert die Icons horizontal */
  width: 150px; /* Ändere die Breite der Icons */
  height: 150px; /* Ändere die Höhe der Icons */
  margin: 5px; /* Fügt Abstand um die Icons hinzu */
  position: relative; /* Positionierung für das Pseudo-Element */
}

.social-links a::before {
  content: ''; /* Fügt das Pseudo-Element hinzu */
  position: absolute; /* Positioniert das Pseudo-Element relativ zum Anker-Element */
  top: 0; /* Positioniert das Pseudo-Element oben */
  right: 0; /* Positioniert das Pseudo-Element rechts */
  bottom: 0; /* Positioniert das Pseudo-Element unten */
  left: 0; /* Positioniert das Pseudo-Element links */
  pointer-events: none; /* Verhindert, dass das Pseudo-Element Klicks erhält */
}

/* Header-Stile */
header {
  background-color: #130e0e;
  color: #c0466b;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 135px; /* Platz für die Kategorien unter dem Namen */
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Abstand zwischen den Kategorien anpassen */
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #a1c4fd;
}

/* Section styles */
.section-wrapper {
  margin: 10px;
  }

.section {
  height: 100vh; /* Setzt die Höhe auf 100% der Bildschirmhöhe */
  padding: 2rem 0;
  background-color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.hover-zoom:hover {
  transform: scale(1.1); /* oder einen anderen Wert für den Zoom-Faktor */
  transition: transform 0.3s ease; /* Anpassen der Dauer und der Übergangsfunktion nach Bedarf */
}


/* karteikarten */

/*
#experience{

} .experience-section -> funktioniert nicht, musst auf die ID zugreifen, siehe oben */

.experience-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color:  #ffffff;
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: #ffffff;
  font-size: 1.5rem; /* Schriftgröße reduziert */
  text-shadow: 2px 2px 20px rgba(202, 28, 28, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.card__year {
  color: #ffffff;
  font-size: 1rem; /* Größe nach Bedarf anpassen */
  margin-top: 8px; /* Abstand zum Titel */
  align-self: center; /* Zentriert das Jahr vertikal */
}





/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #130e0e;
  color: #fff;
  text-align: center;
  padding: 0px;
  height: 125px;
  margin: 0;
}

footer p {
  margin: 0; /* Den Standardabstand entfernen */
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .social-links a {
  display: block;
  align-items: center; /* Zentriert die Icons vertikal */
  justify-content: center; /* Zentriert die Icons horizontal */
  width: 150px; /* Ändere die Breite der Icons */
  height: 150px; /* Ändere die Höhe der Icons */
  margin: 5px; /* Fügt Abstand um die Icons hinzu */
  position: relative; /* Positionierung für das Pseudo-Element */
}

footer .icon {
  width: 30px;
  height: 30px;
  margin-left: 0px; /* Anpassung des Abstands */
}

/* ... */
header h1.waviy { /* Neue Klasse "waviy" für den animierten Text */
  font-size: 2rem;
  margin-bottom: 35px; /* Platz für die Kategorien unter dem Namen */
  color: #fff; /* Textfarbe anpassen */
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.1s * var(--i)); /* Anpassung der Verzögerung */
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}


/* kontaktformular*/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: 50px auto 0 auto; 
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}


/* Zukunft */

#zukunft {

}


html, body {
  margin: 0;
  padding: 0;
}

.pic-ctn {
  width: 80%; /* Anpassen der Breite für die Bilder */
  max-width: 1000px; /* Maximale Breite, um sicherzustellen, dass sie nicht zu breit werden */
  height: auto; /* Anpassung der Höhe, um die Proportionen beizubehalten */
  position: relative;
}
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: -13vh;
  left: calc(34% - 100px);
  opacity: 0;
  animation: display 10s infinite;
  margin-top: 1vh; 
}

img:nth-child(1) {
  animation-delay: 2s;
}
img:nth-child(2) {
  animation-delay: 5s;
}
img:nth-child(3) {
  animation-delay: 8s;
}


.github-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 200px;
}

.github-button:hover {
  background-color: #555;
}








@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
